Repository Yeti-Robotics/crescendo-java-2024, pull requests merged in 2024-08, with the labels that each got.

#77 Refactor intake, pivot, and shooter subsystems
  src/main/java/frc/robot/RobotCommands.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/AutoAimCommand.java
  src/main/java/frc/robot/commands/HandoffCommandGroup.java
  src/main/java/frc/robot/commands/PivotLimitSwitchCommand.java
  src/main/java/frc/robot/commands/ShooterStateCommand.java
  src/main/java/frc/robot/commands/TurnToPoint.java
  src/main/java/frc/robot/commands/auto/AutoNamedCommands.java
  src/main/java/frc/robot/commands/pivot/PivotHomeCommand.java
  src/main/java/frc/robot/commands/pivot/PivotMoveCommand.java
  src/main/java/frc/robot/constants/ArmConstants.java
  src/main/java/frc/robot/constants/PivotConstants.java
  src/main/java/frc/robot/constants/ShooterConstants.java
  src/main/java/frc/robot/subsystems/ArmSubsystem.java
  src/main/java/frc/robot/subsystems/IntakeSubsystem.java
  src/main/java/frc/robot/subsystems/PivotSubsystem.java
  src/main/java/frc/robot/subsystems/ShooterSubsystem.java
  src/main/java/frc/robot/subsystems/drivetrain/CommandSwerveDrivetrain.java
  src/main/java/frc/robot/util/RobotDataPublisher.java
Labels: on bot approved

#86 Vision based shuttling
  src/main/java/frc/robot/RobotCommands.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/ShuttleAimCommand.java
  src/main/java/frc/robot/constants/FieldConstants.java
  src/main/java/frc/robot/constants/ShooterConstants.java
  src/main/java/frc/robot/subsystems/IntakeSubsystem.java
Labels: enhancement, on bot approved

#94 Makes robot auto-handoff once intake beam break is triggered
  src/main/java/frc/robot/RobotContainer.java
Labels: enhancement, on bot test required

#89 78 organize constants
  src/main/java/frc/robot/AutoConstants.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotCommands.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/AutoAimCommand.java
  src/main/java/frc/robot/commands/ShuttleAimCommand.java
  src/main/java/frc/robot/commands/auto/AutoNamedCommands.java
  src/main/java/frc/robot/constants/ArmConstants.java
  src/main/java/frc/robot/constants/CANCoderConstants.java
  src/main/java/frc/robot/constants/DriveConstants.java
  src/main/java/frc/robot/constants/ElevatorConstants.java
  src/main/java/frc/robot/constants/FieldConstants.java
  src/main/java/frc/robot/constants/IntakeConstants.java
  src/main/java/frc/robot/constants/OIConstants.java
  src/main/java/frc/robot/constants/PivotConstants.java
  src/main/java/frc/robot/constants/ShooterConstants.java
  src/main/java/frc/robot/constants/TalonFXConstants.java
  src/main/java/frc/robot/constants/VisionConstants.java
  src/main/java/frc/robot/subsystems/ArmSubsystem.java
  src/main/java/frc/robot/subsystems/ElevatorSubsystem.java
  src/main/java/frc/robot/subsystems/IntakeSubsystem.java
  src/main/java/frc/robot/subsystems/PivotSubsystem.java
  src/main/java/frc/robot/subsystems/ShooterSubsystem.java
  src/main/java/frc/robot/subsystems/VisionSubsystem.java
  src/main/java/frc/robot/subsystems/drivetrain/CommandSwerveDrivetrain.java
  src/main/java/frc/robot/util/AllianceFlipUtil.java
  src/main/java/frc/robot/util/controllerUtils/ControllerContainer.java
Labels: on bot test required, tech debt

#98 Added Haptic Feedback to Intake
  src/main/java/frc/robot/RobotContainer.java
Labels: on bot test required

#102 97 refactor elevator subsystem
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/ElevatorSubsystem.java
Labels: on bot test required

#104 96 refactor arm subsystem
  src/main/java/frc/robot/RobotCommands.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/auto/AutoNamedCommands.java
  src/main/java/frc/robot/subsystems/ArmSubsystem.java
Labels: on bot test required
